%h1 Create new Post
%form{ action : "/posts", method : "POST", enctype : "multipart/form-data" }
  %p
    = label("title", "Title")
    = text_field("title")
  %p
    = label("body", "Body")
    = text_field("body")
  %input{ type : "submit", value : "Create" }