%div( class : "navbar navbar-fixed-top" )
  %div( class : "navbar-inner" )
    .container
      %a{ class : "brand", href : "/" } Fly by Night
      %ul.nav
        %li.active
          %a{ href : "/"} Home
        %li
          %a{ href : "/posts"} Posts  